# Build output directories
target/
bin/
target-output/
build/

# Eclipse specific files
.settings/
.project
.classpath

# IDE files
.idea/
*.iml
*.iws

# Temporary files
tmp/
temp/

*.class
reports/
test-output/

